
<!-- Add these css and js links on your cart-drawer liquid file -->
<!-- links Start -->
{{ 'suggested-products.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'suggested-products.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
<!-- links end -->

<!-- Add this block before cart drawer subtotal or before cart-drawer-footer   -->

<div id="related-products" class="related-products-section" style="padding: 20px;">
    <div class="swiper related-swiper">
      <div class="swiper-wrapper" id="related-products-list">
        <!-- JS will inject product slides here -->
      </div>
        <!-- dot buttons go here -->
      <div class="swiper-pagination"></div>
    </div>
</div>
